#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color:#007bff;
}

a:hover {
  text-decoration: underline;
}

.select-sort, .search-bar {
  margin-bottom: 10px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

